*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-poppins);
    scroll-behavior: smooth;    
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
}

.header-navigation{
    background-color: #000;
}


#location-container{
    margin-top:5rem;
    margin-right:2rem;
    margin-bottom:2rem;
    margin-left:2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#location-container h1{
    color:#865439;
    margin-bottom: 2rem;
    font-size: xx-large;
}

.location-card{
    display:flex;
    width:100%;
    margin-bottom: 2rem;
}

.location-details-container{
    padding: 1.2rem;
    background-color: #fff;
    margin-right: 2rem;
    border:1px solid #865439;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
    height:fit-content;
    width:500px;
}

.location-details-container h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #865439;
}

.icon-text-wrap{
    display:flex;
    margin-bottom:1rem;
}

.location-icon{
    margin-right:0.7rem;
    font-size: 20px;
    color: #865439;
}

.map-style{
    height:400px;
    width:100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border:1px solid #865439;
}

#location-info-container{
    padding: 1rem;
    background-color: #faf4ed;
}
#location-info-container h2{
    color:#865439;
    text-align: center;
}

@media screen and (max-width: 780px){
    #location-container{
        margin-top:2rem;
    }

    #location-container h1{
        font-size: x-large;
    }

    .location-card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location-details-container{
        margin-bottom: 2rem;
        margin-right: 0;
        width:100%;
    }

    .location-details-container h2{
        font-size: large;
    }

    #location-info-container h2{
        font-size: large;
    }

    

}